# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\school\ip5-navigation-kolibri\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
